@import "./variables.scss";
@import "./mixins.scss";
body
{
  margin: 0;
  padding: 0;
  font-family: montserrat,sans-serif;
  background: black;
}

.animated-text
{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: $primary-color;
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
}

.line {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

.line:first-child {
  @include scroll(12s);
}

